body{
  font-family: 'Helvetica', sans-serif;
  background-color: #FBDBC1;
  color: #1D1F20;

}

footer{
  background-color: ;
}

.flx_locChild{
  background-color: #D6E9F5;
  border: 2px solid #B6590D;
}