*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #FBDBC1;
  color: #1D1F20;
}

h2{
 font-size: 80px;
 font-weight: 500;
}

h3{
  font-size: 48px;
  font-weight: 400;
}

h4{
  font-size: 36px;
  font-weight: 300;
}

h5{
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4em;
}

footer{
  background-color: #813F09 ;
  padding: 100px 0px 50px 0px;
  color:#D6E9F5;
  text-align: center;
}

/* NAV SECTION ELEMENT STYLES */
.wrp_navWrapper{
  position: fixed;
  margin: auto;
  width: 100%;
}

.flx_navParent{
  border: 1px solid #B6590D;
  background-color: #813F09;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_logo img{
  height: 50px;
  padding-left: 10px;
}

.blk_navParent{
  display: flex;
  margin-right: 10px;
}

.blk_navParent a{
  margin-right: 30px;
}

.blk_navParent h4{
  color: #D6E9F5;
  font-size: 24px;
  font-weight: 200;
  text-decoration: underline;
}

/* HEADER SECTION ELEMENT STYLES */
header{
  height: 700px;
  width: 1200px;
}

/* TEA OF THE MONTH SECTION STYLES */
.div_tomTextWrapper{
  margin: 0px auto;
  text-align: center;
}

.flx_tomParent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* LOCATION SECTION ELEMENT STYLES */

.sec_location{
  height: 500px;
  max-width: 1280px;
  margin: auto;
  border: 1px solid white;
  text-align: center;
}

.flx_locWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flx_locParent{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.flx_locChild{
  background-color: #D6E9F5;
  border: 2px solid #B6590D;
  text-align: center;
  width: 300px;
  height: 100%;
  margin: 0px 20px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.flx_locChild h4{
  font-weight: 400;
  padding-bottom: 30px;
}